{% extends 'admin/index.html.twig' %}

{% block title %}Edit Projet{% endblock %}

{% block admin %}
    <h1>Edit Projet</h1>

    {{ include('admin/projet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_competence_admin') }}">back to list</a>

    {{ include('admin/projet/_delete_form.html.twig') }}
{% endblock %}
