{% extends 'admin/index.html.twig' %}

{% block title %}Projet index{% endblock %}

{% block admin %}
    <h1>Projet index</h1>

    <table class="tables">
        <thead>
            <tr>
                <th scope="col" class="head-item">Id</th>
                <th scope="col" class="head-item">Titre</th>
                <th scope="col" class="head-item">Date du projet</th>
                <th scope="col" class="head-item">Archiver</th>
                <th scope="col" class="head-item">Arctions</th>
            </tr>
        </thead>
        <tbody>
        
        {% for item in projets %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.titre }}</td>
                <td>{{ item.dateProjet ? item.dateProjet|date('Y-m-d') : '' }}</td>
                <td>{{ item.archive ? 'OUI' : 'NON' }}</td>
                <td>
                    {% if item.archive %}
                    <a href="{{ path("app_projet_archivage", {"projet":item.id }) }}"> Désarchiver </a>
                    {% else %}
                    <a href="{{ path("app_projet_archivage", {"projet":item.id }) }}"> Archiver </a>
                    {% endif %}
                    <a href=""> detail </a>
                    <a href=""> Editer </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_projet_new') }}">Create new</a>
{% endblock %}
