{% extends 'admin/index.html.twig' %}

{% block title %}New Projet{% endblock %}

{% block admin %}
    <h1>Create new Projet</h1>

    {{ include('admin/projet/_form.html.twig') }}

    <a href="{{ path('app_competence_admin') }}">back to list</a>
{% endblock %}
