{% extends 'admin/index.html.twig' %}

{% block title %}Projet{% endblock %}

{% block admin %}
    <h1>Projet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projet.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ projet.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ projet.description }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ projet.dateCreation ? projet.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateProjet</th>
                <td>{{ projet.dateProjet ? projet.dateProjet|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Archive</th>
                <td>{{ projet.archive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_competence_admin') }}">back to list</a>

    <a href="{{ path('app_projet_edit', {'id': projet.id}) }}">edit</a>

    {{ include('admin/projet/_delete_form.html.twig') }}
{% endblock %}
