{% extends 'admin/index.html.twig' %}

{% block title %}Edit Competence{% endblock %}

{% block admin %}
    <h1>Edit Competence</h1>

    {{ include('admin/competence/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_competence_admin') }}">back to list</a>

    {{ include('admin/competence/_delete_form.html.twig') }}
{% endblock %}
