{% extends 'admin/index.html.twig' %}

{% block title %}Competence index{% endblock %}

{% block admin %}
    <h1>Competence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competence in competences %}
            <tr>
                <td>{{ competence.id }}</td>
                <td>{{ competence.label }}</td>
                <td>
                    <a href="{{ path('app_competence_show', {'id': competence.id}) }}">show</a>
                    <a href="{{ path('app_competence_edit', {'id': competence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_competence_new') }}">Create new</a>
{% endblock %}
