{% extends 'admin/index.html.twig' %}

{% block title %}New Competence{% endblock %}

{% block admin %}
    <h1>Create new Competence</h1>

    {{ include('admin/competence/_form.html.twig') }}

    <a href="{{ path('app_competence_admin') }}">back to list</a>
{% endblock %}
