{% extends 'admin/index.html.twig' %}

{% block title %}Competence{% endblock %}

{% block admin %}
    <h1>Competence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ competence.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ competence.label }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_competence_admin') }}">back to list</a>

    <a href="{{ path('app_competence_edit', {'id': competence.id}) }}">edit</a>

    {{ include('admin/competence/_delete_form.html.twig') }}
{% endblock %}
