{% extends 'admin/index.html.twig' %}

{% block title %}Rubrique index{% endblock %}

{% block admin %}
    <h1>Rubrique index</h1>

    <table class="tables">
        <thead>
            <tr>
                <th scope="col" class="head-item">Id</th>
                <th scope="col" class="head-item">Label</th>
                <th scope="col" class="head-item">Arctions</th>
            </tr>
        </thead>
        <tbody>
        {% for rubrique in rubriques %}
            <tr>
                <th scope="row">{{ rubrique.id }}</th>
                <td>{{ rubrique.label }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rubrique_new') }}">Create new</a>
{% endblock %}
