{% extends 'admin/index.html.twig' %}

{% block title %}Hello ListeRubriqueController!{% endblock %}

{% block admin %}
    <h1>Projet index</h1>

    <table class="tables">
        <thead>
            <tr>
                <th scope="col" class="head-item">Id</th>
                <th scope="col" class="head-item">Label</th>
                <th scope="col" class="head-item">Arctions</th>
            </tr>
        </thead>
        <tbody>
        
        {% for item in items %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.label }}</td>
                <td>
                    <a href=""> Archiver </a>
                    <a href=""> detail </a>
                    <a href=""> Editer </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_projet_new') }}">Create new</a>
{% endblock %}
