{% extends 'admin/index.html.twig' %}

{% block title %}Rubrique{% endblock %}

{% block admin %}
    <h1>Rubrique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rubrique.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ rubrique.label }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rubrique_index') }}">back to list</a>

    <a href="{{ path('app_rubrique_edit', {'id': rubrique.id}) }}">edit</a>

    {{ include('rubrique/_delete_form.html.twig') }}
{% endblock %}
