{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block nav %}
    {{ parent() }}
    {% include 'layout/menu_admin.twig' %}
{% endblock %}

{% block body %}
<div class="body-admin">
    {% block admin %}

    {% endblock %}
</div>
{% endblock %}
