@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  border: 0;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: whitesmoke;
}

.menu-top {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
}

a {
  text-decoration: none;
}

.menu-top-item {
  display: inline-block;
  position: relative;
  color: #0087ca;
  margin: 0.5rem;
  font-size: larger;
}

.menu-top-item:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -8px;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu-top-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.wrapper .sidebar {
  background: rgb(5, 68, 104);
  position: fixed;
  /*top: 0;*/
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  color: #0c7db1;
  background: white;
  border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}

.body-admin {
  margin-left: 18rem;
  margin-right: 5rem;
}

.alert {
  margin: 0.5rem;
  padding: 1rem;
  color: white;
  width: max-content;
}

.alert-success {
  background-color: #d4efdf;
  color: #58d68d;
}

.alert-info {
  background-color: #fcf3cf;
  color: #f4d03f;
}

.alert-error {
  background-color: #fadbd8;
  color: #e74c3c;
}

.head-item {
  background-color: #0c7db1;
  padding: 1rem;
}

.tables {
  width: 100%;
}

.titre {
  background-color: steelblue;
  color: whitesmoke;
  font-weight: bolder;
  font-size: x-large;
  padding: 3rem 0rem 3rem 37%;
  text-transform: uppercase;
}

.pres-img-item {
  width: 20%;
  border-radius: 5rem;
}

.pres {
  display: flex;
}

.formulaire-contact {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
}

.formulaire-item {
  padding: 1rem;
}

.formulaire-envoyer {
  padding: 1rem;
  background-color: rgb(67, 67, 233);
  color: white;
}

.profile-pwd {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 1rem;
  margin: 1rem;
}

.profile-infos {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 1rem;
  margin: 1rem;
}

.profile {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
