{% extends 'admin/index.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block admin %}

<div class="profile">
    
    <div class="profile-infos">
        <h3> Informations </h3>
        {{ form(form) }}
    </div>


    <div class="profile-pwd">
        <h3> Mot de passe </h3>
        {{form(formPass)}}
    </div>
</div>

{% endblock %}
