.head-item{
    background-color: #0c7db1;
    padding:1rem;
}

.tables{
    width: 100%;
}

.titre{
    background-color: steelblue;
    color: whitesmoke;
    font-weight: bolder;
    font-size: x-large;
    padding: 3rem 0rem 3rem 37%;
    text-transform: uppercase;
}

.pres-img-item{
    width:20%;
    border-radius: 5rem;
}

.pres{
    display:flex;
}


//// *** FORMULAIRE **** ////

.formulaire-contact{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
}

.formulaire-item{
    padding:1rem;
}

.formulaire-envoyer{
    padding:1rem;
    background-color: rgb(67, 67, 233);
    color: white;
}

.profile-pwd{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 1rem;
    margin:1rem;
}

.profile-infos{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 1rem;
    margin:1rem;
}

.profile{
    display: flex;
}