.alert{
    margin: 0.5rem;
    padding: 1rem;
    color: white;
    width: max-content;
}

.alert-success{
    background-color: #d4efdf ;
    color: #58d68d;
}

.alert-info{
    background-color:  #fcf3cf ;
    color:#f4d03f;
}

.alert-error{
    background-color:  #fadbd8 ;
    color:#e74c3c; 
}