* {
    border: 0;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: $bck_primary;
}

.menu-top{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
}

a {
    text-decoration: none;
}

.menu-top-item {
    display: inline-block;
    position: relative;
    color: #0087ca;
    margin:0.5rem;
    font-size: larger;
}

.menu-top-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menu-top-item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

//********************* ADMIN ********///
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.wrapper .sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    /*top: 0;*/
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #0c7db1;

    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

.body-admin{
    margin-left: 18rem;
    margin-right: 5rem;
}