{% extends 'base.html.twig' %}

{% block title %}Hello ProjetsController!{% endblock %}

{% block body %}

{% for item in projets %}
    <div>
        <h3>
            {{ item.titre }}
        </h3>
        <p>
            {{ item.description }}
        </p>
    </div>
{% endfor %}

{% endblock %}
