<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="bck">
            
        
            {% block nav %}
                {% include 'layout/menu_top.twig' %}
            {% endblock %}

            {% block flash %}
            <div>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-error">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('info') %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% endblock %}
            
            {% block body %}
                
            {% endblock %}
        </div>
    </body>
</html>
