{% extends 'base.html.twig' %}



{% block body %}

    <div>
        <div class=>
            <div class="titre">
                portfolio {{ info.nom }} {{ info.prenom }}
            </div>
            <div class="pres">
                <div class="pres-img">
                    <img src="{{ asset("media/profile/") }}{{info.avatar}}" class="pres-img-item">
                </div>
                <div class="pres-texte">
                    {{info.description}}
                </div>
            </div>
        </div>
        <div>
            <div>
                Mes compétences
            </div>
        </div>
        <div>
            <div>
                Les témoignages
            </div>
        </div>
    </div>

{% endblock %}
{% block title %}Hello HomepageController!{% endblock %}
