{% extends 'admin/index.html.twig' %}

{% block title %}Edit Avis{% endblock %}

{% block admin %}
    <h1>Edit Avis</h1>

    {{ include('admin/avis/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_avis_index') }}">back to list</a>

    {{ include('admin/avis/_delete_form.html.twig') }}
{% endblock %}
