{% extends 'admin/index.html.twig' %}

{% block title %}New Avis{% endblock %}

{% block admin %}
    <h1>Create new Avis</h1>

    {{ include('admin/avis/_form.html.twig') }}

    <a href="{{ path('app_avis_index') }}">back to list</a>
{% endblock %}
