{% extends 'admin/index.html.twig' %}

{% block title %}Avis{% endblock %}

{% block admin %}
    <h1>Avis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avi.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ avi.label }}</td>
            </tr>
            <tr>
                <th>Date_creation</th>
                <td>{{ avi.dateCreation ? avi.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Archive</th>
                <td>{{ avi.archive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_avis_index') }}">back to list</a>

    <a href="{{ path('app_avis_edit', {'id': avi.id}) }}">edit</a>

    {{ include('admin/avis/_delete_form.html.twig') }}
{% endblock %}
