{% extends 'admin/index.html.twig' %}

{% block title %}Edit Tag{% endblock %}

{% block admin %}
    <h1>Edit Tag</h1>

    {{ include('tag/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tag_index') }}">back to list</a>

    {{ include('tag/_delete_form.html.twig') }}
{% endblock %}
