{% extends 'admin/index.html.twig' %}

{% block title %}Tag index{% endblock %}

{% block admin %}
    <h1>Tag index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.label }}</td>
                <td>
                    <a href="{{ path('app_tag_show', {'id': tag.id}) }}">show</a>
                    <a href="{{ path('app_tag_edit', {'id': tag.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tag_new') }}">Create new</a>
{% endblock %}
