{% extends 'admin/index.html.twig' %}

{% block title %}Edit Temoignage{% endblock %}

{% block admin %}
    <h1>Edit Temoignage</h1>

    {{ include('admin/temoignage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_temoignage_admin') }}">back to list</a>

    {{ include('admin/temoignage/_delete_form.html.twig') }}
{% endblock %}
