{% extends 'admin/index.html.twig' %}

{% block title %}Temoignage index{% endblock %}

{% block admin %}
    <h1>Temoignage index</h1>

    <table class="tables">
        <thead>
            <tr>
                <th scope="col" class="head-item">Id</th>
                <th scope="col" class="head-item">Nom</th>
                <th scope="col" class="head-item">Prenom</th>
                <th scope="col" class="head-item">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for temoignage in temoignages %}
            <tr>
                <td scope="row">{{ temoignage.id }}</td>
                <td>{{ temoignage.nom }}</td>
                <td>{{ temoignage.prenom }}</td>
                <td>
                    <a href="{{ path('app_temoignage_show', {'id': temoignage.id}) }}">show</a>
                    <a href="{{ path('app_temoignage_edit', {'id': temoignage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_temoignage_new') }}">Create new</a>
{% endblock %}
