{% extends 'admin/index.html.twig' %}

{% block title %}New Temoignage{% endblock %}

{% block admin %}
    <h1>Create new Temoignage</h1>

    {{ include('admin/temoignage/_form.html.twig') }}

    <a href="{{ path('app_temoignage_admin') }}">back to list</a>
{% endblock %}
