{% extends 'admin/index.html.twig' %}

{% block title %}Temoignage{% endblock %}

{% block admin %}
    <h1>Temoignage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ temoignage.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ temoignage.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ temoignage.prenom }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ temoignage.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_temoignage_admin') }}">back to list</a>

    <a href="{{ path('app_temoignage_edit', {'id': temoignage.id}) }}">edit</a>

    {{ include('admin/temoignage/_delete_form.html.twig') }}
{% endblock %}
