<nav>
    <div class="menu-top">
        <div>
            <a class="menu-top-item" href="{{path("app_homepage")}}"> <i class="fa-solid fa-house-user"></i> HOME </a>
        </div>
        <div>
            <a class="menu-top-item" href="{{path("app_projets")}}"> <i class="fa-regular fa-folder-open"></i>Projets </a>
            {% if is_granted("ROLE_UTILISATEUR") %}
            
            <a class="menu-top-item" href="{{path("app_profile")}}">  PROFILE </a>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
            <a class="menu-top-item" href="{{ path("app_admin") }}"> <i class="fa-regular fa-user"></i>Admin </a>
            {% endif %}
        </div>
        <div>
            <a class="menu-top-item" href="{{ path("app_contactez_nous") }}"> <i class="fa-solid fa-message"></i>Contactez-nous </a>
        </div>
    </div>
</nav>