<div class="wrapper">
    <!--Top menu -->
    <div class="sidebar">
        <ul>
                <li>
                    <a href="{{ path("app_admin") }}" class="active">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Admin</span>
                    </a>
                </li>
                <li>
                    <a href="{{path("app_projet_admin")}}">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">Mes Projets</span>
                    </a>
                </li>
                <li>
                    <a href="{{path("app_liste_rubrique")}}">
                        <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                        <span class="item">Mes Compétences</span>
                    </a>
                </li>
                <li>
                    <a href="{{path("app_temoignage_admin")}}">
                        <span class="icon"><i class="fas fa-database"></i></span>
                        <span class="item">Témoignages</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path("app_admin_contact") }}">
                        <span class="icon"><i class="fas fa-chart-line"></i></span>
                        <span class="item">Contact</span>
                    </a>
                </li>
            </ul>
    </div>
</div> 
