{% extends 'admin/index.html.twig' %}

{% block title %}Hello ContactsController!{% endblock %}

{% block admin %}
{% if contacts is defined and contacts is not empty %}

<form action="" method="post">
    <table class="tables">
        <thead>
            <tr>
                <th scope="col" class="head-item">Id</th>
                <th scope="col" class="head-item">Emetteur</th>
                <th scope="col" class="head-item">Objet</th>
                <th scope="col" class="head-item">Actions</th>
            </tr>
        </thead>
        <tbody>
        
        {% for item in contacts %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.mail }}</td>
                <td>{{ item.objet }}</td>
                <td><a href="{{path("app_detail_contact", {"tarte":item.id})}} "> Detail </a> 
                <a href="{{path("app_reponse", {"contact":item.id})}}">Repondre</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Ajouter">
</form>

{% endif %}
{% endblock %}
