{% extends 'admin/index.html.twig' %}

{% block title %}Hello ReponseController!{% endblock %}

{% block admin %}
    <div class="formulaire-contact">
        {{ form_start(form) }}
            <div class="formulaire-item">
                <div class="form-control">
                    <i class="fa fa-calendar"></i> {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    <small>{{ form_help(form.email) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.email) }}
                    </div>
                </div>
            </div>

            <div class="formulaire-item">
                <div class="form-control">
                    <i class="fa fa-calendar"></i> {{ form_label(form.objet) }}
                    {{ form_widget(form.objet) }}
                    <small>{{ form_help(form.objet) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.objet) }}
                    </div>
                </div>
            </div>
            
            <div class="formulaire-item">
                <div class="form-control">
                    <i class="fa fa-calendar"></i> {{ form_label(form.corps) }}
                    {{ form_widget(form.corps) }}
                    <small>{{ form_help(form.corps) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.corps) }}
                    </div>
                </div>
            </div>

            <div class="formulaire-item">
                <div class="">
                    {{ form_label(form.envoyer) }}
                    {{ form_widget(form.envoyer, { 'attr': {'class': 'formulaire-envoyer'} }) }}
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
